@page "/HealthItem"
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@attribute [Authorize]
@using PokemonCatcherGame.Shared.Models.HealthItemModels

<PageTitle>AllHealthItems</PageTitle>
<h2>Health Replenishment Items for Pokémon</h2>

@code {
    private List<HealthItemList>? HealthItems = new List<HealthItemList>();
    private string? errorMessage;

    private int currentPage = 1;
    private const int PageSize = 10;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        try
        {
            HealthItems = await httpClient.GetFromJsonAsync<List<HealthItemList>>($"api/HealthItem?page={currentPage}&pageSize={PageSize}");
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }

    private async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
            await LoadData();
        }
    }

    private async Task NextPage()
    {
        currentPage++;
        await LoadData();
    }

    private void CreateNewHealthItem()
    {
        navigationManager.NavigateTo("/HealthItem/Create");
    }
}

<style>
    body{
        background-image: url('https://images.pexels.com/photos/2832382/pexels-photo-2832382.jpeg?auto=compress&cs=tinysrgb&w=1200');
        background-repeat: no-repeat;
        background-size:  cover;
    }
</style>

@if(HealthItems == null)
{
    <p><em>Loading . . . . . .</em></p>
}
else
{
    <div>
        <table class="table table-striped table-dark table-hover table-bordered border-danger">
            <thead>
                <tr class="text-center">
                    <th>Health Item Id</th>
                    <th>Health Item Name</th>
                    <th>Health Item Description</th>
                    <th>What would you like to do?</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var healthItem in HealthItems)
                {
                    <tr class="text-center">
                        <td>@healthItem.Id</td>
                        <td>@healthItem.HealthItemName</td>
                        <td>@healthItem.HealthItemDescription</td>
                        <td>
                            <div style="margin-bottom: 3px;">
                                <a class="text-danger" href=@($"HealthItem/{healthItem.Id}")>Get More Details</a>
                            </div>
                            <div style="margin-bottom: 3px;">
                                <a class="text-danger" href=@($"HealthItem/Edit/{healthItem.Id}")>Edit Health Item</a>
                            </div>
                            <div style="margin-bottom: 3px;">
                                <a class="text-danger" href=@($"HealthItem/Delete/{healthItem.Id}")>Delete Health Item</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
                <button class="btn btn-danger"  @onclick="PreviousPage" disabled="@(currentPage == 1)">Previous</button>
                <button class="btn btn-danger"  @onclick="NextPage" disabled="@(HealthItems.Count() < 10)">Next</button>
            </div>
        <br>
        <button class="btn btn-danger" @onclick="CreateNewHealthItem">Create A New Health Item</button>
    </div>
}