@page "/Pokemon"
@using PokemonCatcherGame.Shared.Models.PokemonModels
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@attribute [Authorize]
@inject NavigationManager navigation

@code{
    private List<PokemonList> _pokemon;

    protected override async Task OnInitializedAsync()
    {
        _pokemon = await httpClient.GetFromJsonAsync<List<PokemonList>>("/api/Pokemon");
    }

    private void CreateNewPokemon()
    {
        navigation.NavigateTo("/Pokemon/Create");    
    }

}

<style>
    body{
        background-image: url('https://images.pexels.com/photos/1910225/pexels-photo-1910225.jpeg?auto=compress&cs=tinysrgb&w=1200');
        background-repeat: no-repeat;
        background-size:  cover;
    }
</style>

@if (_pokemon == null)
{
    <p><em>Loading. . . </em></p>
}
else
{
    <table class = "table table-striped table-dark table-hover table-bordered border-danger">
        <thead>
            <tr>
                <th>Identifier for Pokemon</th>
                <th>Pokedex Number for Pokemon</th>
                <th>Pokemon Name</th>
                <th>Pokemon NickName</th>
                <th>Pokemon Type One</th>
                <th>Pokemon Type Two</th>
            </tr>
        </thead>
        <tbody>
            @foreach(PokemonList pokemon in _pokemon)
            {
                <tr>
                    <td class ="text-center">@pokemon.Id</td>
                    <td class ="text-center">@pokemon.PokedexNumber</td>
                    <td>@pokemon.Name</td>
                    <td>@pokemon.PokeNickName</td>
                    <td>@pokemon.PokeTypeNameOne</td>
                    <td>@pokemon.PokeTypeNameTwo</td>
                </tr>
            }

        </tbody>
    </table>
    <br>
    <div>
        <button class="btn btn-danger" @onclick="CreateNewPokemon">Create A New Pokemon </button>
    </div>
}