@page "/Pokemon"
@using PokemonCatcherGame.Shared.Models.PokemonModels
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@attribute [Authorize]
@inject NavigationManager navigation

@code{
    private List<PokemonList>? _pokemon;
    
    private int currentPage = 1;
    private const int PageSize = 10;

    private async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
            await LoadData();
        }
    }

    private async Task NextPage()
    {
        currentPage++;
        await LoadData();
    }

    private async Task LoadData()
    {
        _pokemon = await httpClient.GetFromJsonAsync<List<PokemonList>>($"api/Pokemon?page={currentPage}&pageSize={PageSize}");
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private void CreateNewPokemon()
    {
        navigation.NavigateTo("/Pokemon/Create");    
    }

}

<style>
    body{
        background-image: url('https://images.pexels.com/photos/1910225/pexels-photo-1910225.jpeg?auto=compress&cs=tinysrgb&w=1200');
        background-repeat: no-repeat;
        background-size:  cover;
    }
</style>

@if (_pokemon == null)
{
    <p><em>Loading. . . </em></p>
}
else
{
    <table class = "table table-striped table-dark table-hover table-bordered border-danger">
        <thead>
            <tr>
                <th>Identifier for Pokemon</th>
                <th>Pokedex Number for Pokemon</th>
                <th>Pokemon Name</th>
                <th>Pokemon NickName</th>
                <th>Pokemon Type One</th>
                <th>Pokemon Type Two</th>
                <th>What would you like to do?</th>
            </tr>
        </thead>
        <tbody>
            @foreach(PokemonList pokemon in _pokemon)
            {
                <tr>
                    <td class ="text-center">@pokemon.Id</td>
                    <td class ="text-center">@pokemon.PokedexNumber</td>
                    <td class = "text-capitalize">@pokemon.Name</td>
                    <td>@pokemon.PokeNickName</td>
                    <td>@pokemon.PokeTypeNameOne</td>
                    <td>@pokemon.PokeTypeNameTwo</td>
                    <td>
                        <div style="margin-bottom: 3px;">
                            <a href=@($"Pokemon/{pokemon.Id}")>Get More Details</a>
                        </div>
                        <div style="margin-bottom: 3px;">
                            <a href=@($"Pokemon/Edit/{pokemon.Id}")>Edit</a>
                        </div>
                        <div style="margin-bottom: 3px;">
                            <a href=@($"Pokemon/Delete/{pokemon.Id}")>Delete</a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <div>
        <button class="btn btn-danger"  @onclick="PreviousPage" disabled="@(currentPage == 1)">Previous</button>
        <button class="btn btn-danger"  @onclick="NextPage" disabled="@(_pokemon.Count() < 10)">Next</button>
    </div>
    <br>
    <div>
        <button class="btn btn-danger" @onclick="CreateNewPokemon">Create A New Pokemon </button>
    </div>
}